<head> 
  <link rel = "stylesheet" type = "text/css" href = "login.css" />
</head> 
<body> 
  <img src="../img/IMG_6304.jpg" alt="Logo">
  <div class = "center"> 
    <h2 color = "rgb(144,238,144)">Login</h2> 
    <form action="/login" method="post"> 
      <div class = "text-field">
        <input type="text" id="username" name="username" placeholder="Username" required> 
      </div>
      <div class = "text-field">
        <input type="password" id="password" name="password" placeholder="Password" required> 
      </div>
      <button class="submitbutton"type="submit">Sign in</button> 
     
    </form> 
  </div> 
</body> 
