<h2 class = "link"><a href = "/home">Home</a></h2> 
<h1>Add HPI</h1> 
<form action ="/newHPI" method = 'POST'>
    <div>
        <label for = "hpi">HPI</label>
        <input type="text" id = "hpi" name = "hpi" required>
    </div>
    <button type = "submit">Add HPI</button>
</form>