<h2 class = "link"><a href = "/home">Home</a></h2> 
<h3><a href = "/">Logout</a></h3>
<h1>Add Visit</h1> 
<form action ="/visit?patient_id=<%= patient.patient_id %>" method = 'POST'>
    <div>
        <label for "visitDate">Visit Date</label>
        <input type="date" id="visitDate" name="visitDate"  min="1907-01-01" max="<%= (new Date()).toISOString().split('T')[0] %>" required>
    </div>
    <div>
        <label for = "event">Event Name</label>
        <input type="text" id = "event" name = "eventName" maxlength = "25" required>
    </div>
    <div>
        <label for = "phys">Attending Physician</label>
        <input type="text" id = "phys" name = "phys" maxlength = "25" required>
    </div>
    <div>
        <button type = "submit">Add Visit</button>
    </div>
</form>