<h2 class = "link"><a href = "/home">Home</a></h2> 
<h1>Add Vitals</h1> 
<form action ="/vitals" method = 'POST'>
    <div>
        <label for = "pulse">Pulse (bpm)</label>
        <input type="text" id = "pulse" name = "pulse" required>
    </div>
    <div>
        <label for = "bp">Blood Pressure</label>
        <input type="text" id = "bp" name = "bp" required>
    </div>
    <div>
        <label for = "temp">Temperature (°F)</label>
        <input type="text" id = "temp" name = "temp" required>
    </div>
    <div>
        <label for = "r_rate">Respiratory Rate (breaths/min): </label>
        <input type="text" id = "r_rate" name = "r_rate" required>
    </div>
    <div>
        <label for = "height">Height (ft):</label>
        <input type="text" id = "height" name = "height" required>
    </div>
    <div>
        <label for = "weight">Weight (lbs):</label>
        <input type="text" id = "weight" name = "weight" required>
    </div>
    <div>
        <label for = "blood_sug">Blood Sugar (mgl/dL)</label>
        <input type="text" id = "blood_sug" name = "blood_sug">
    </div>
    <div>
        <label for = "hrs_meal">Hrs Since Last Meal</label>
        <input type="text" id = "hrs_meal" name = "hrs_meal"
    </div>
    <button type = "submit">Add Vitals</button>
</form>