<h2 class = "link"><a href = "/home">Home</a></h2> 
<h1>Add Visit</h1> 
<form action ="/visit" method = 'POST'>
    <div>
        <label for = "date">Visit Date</label>
        <input type="text" id = "date" name = "visitDate" required>
    </div>
    <div>
        <label for = "event">Event Name</label>
        <input type="text" id = "event" name = "eventName" required>
    </div>
    <div>
        <label for = "phys">Attending Physician</label>
        <input type="text" id = "phys" name = "phys" required>
    </div>
    <div>
        <button type = "submit">Add Visit</button>
    </div>
</form>