<head>
    <title> <%= title %></title>
    <link rel = "stylesheet" type = "text/css" href = "patient-record.css" />
</head>
<body>
    <h2 class = "link"><a href = "/home">Home</a></h2> 
    <h1>Visit Date: <%= visit.date %></h1>
    <h1>Event Name: <%= visit.event %></h1>
    <h1>Event Name: <%= visit.physician %></h1>
    
    
    <div>
        <a href = "/patient-record" class = "infoLabel">Back to Patient</a>
    </div>
    
</body>