<head>
    <link rel = "stylesheet" type = "text/css" href =  "../../style/form.css" />
</head>
<body>
    <div class = "topright">
        <h3><a href = "/">Logout</a></h3>
        <h3><a href = "/user">User</a></h3>
    </div>

    <form action ="/register" method = 'POST'>
        <div>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" pattern="^[A-Z][a-z]*$" maxlength="20" title="Please enter a valid name (first letter capitalized, no numbers/symbols)" required>
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" pattern="^[A-Z][a-z]*$" maxlength="20" title="Please enter a valid name (first letter capitalized, no numbers/symbols)" required>
        </div>
        <div>
            <label for = "user">Username</label>
            <input type="text" id="user" name="user" maxlength="20" required>
        </div>
        <div>
            <label for = "pass">Password</label>
            <input type="password" id="pass" name="pass" minlength="8" maxlength="20" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@#$%^&+=!])(?=.*[a-zA-Z0-9]).{8,}$" title = "Password must be between 8-20 characters and must contain at least one letter, one number, and one special character" required>
        </div>
        <div>
            <label for = "role">User Role</label>
            <select id = "role" name = "role"  type = "text" required>
                <option selected disabled hidden>Select Role</option>
                <option>admin</option>
                <option>clinician</option>
            </select>
        </div>
        <div>
            <label for = "email">Email</label>
            <input type="text" id="email" name="email" maxlength="45" required>
        </div>
        <button type = "submit">Register</button>
    </form>
</body>